

@import "../broadcasts/BroadcastGraph";

@mixin diamond($size, $color) {

}

$arcNodeSize: 75px;

.VertexNode {
  composes: GraphNode;
  margin: 1em;
  padding: 1em;
  background-color: white;
  padding: 1em;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
}

.VertexNodeSelected {
  composes: VertexNode;
  background-color: lightblue;
}
