<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-with-addons.min.js"></script>
    <script src="https://cdn.rawgit.com/enmasseio/timesync/735a3ac4cc7eac05b104bb04c6641adb8bfe785f/dist/timesync.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <script>
      window.SK_CONFIG = {
        PUBLIC_API_SERVER_URL: "{{{PUBLIC_API_SERVER_URL}}}",
        PUBLIC_GORT_BASE_PATH: "{{{PUBLIC_GORT_BASE_PATH}}}",
        RTMP_URL_INTERNAL: "{{{RTMP_URL_INTERNAL}}}",
        PUBLIC_AUTH_MODE: "{{{PUBLIC_AUTH_MODE}}}",
        PUBLIC_RTMP_URL_PREVIEW: "{{{PUBLIC_RTMP_URL_PREVIEW}}}",
        PUBLIC_TIMESYNC_SERVER_URL: "{{{PUBLIC_TIMESYNC_SERVER_URL}}}"
      };
    </script>
    </head>
  <body>
    <main></main>
  </body>
  <script type="text/javascript" src="quiet.js"></script>
  <script>
    Quiet.setProfilesPrefix("/");
    Quiet.setMemoryInitializerPrefix("/");
    Quiet.setLibfecPrefix("/");
  </script>
  <script type="text/javascript" src="bundle.js"></script>
  <script type="text/javascript" src="quiet-emscripten.js"></script>
</html>
