
.FullContainer {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.TopRightBig {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 4em;
  font-weight: 800;
}
