# Hi
swagger: '2.0'
info:
  title: Stream Kitchen API
  description: Want to do some stuff what with the streaming video? This is an API for that!
  version: "0.0.0-alpha1"
# the domain of the service
host: api.stream.kitchen
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v0
produces:
  - application/json
consumes:
  - application/json

definitions:
  Broadcast:
    type: object
    properties:
      id:
        type: string
        description: Unique ID of the Broadcast
      title:
        type: string
        description: Name of the Broadcast test
  Vertex:
    type: object
    properties:
      id:
        type: string
        description: Unique ID of the Vertex
      title:
        type: string
        description: Human-readable title of this vertex
      type:
        description: The type of vertex that this is
        enum: ["RTMPInput", "RTMPOutput"]
      rtmp:
        type: object
        description: RTMP information for RTMPInput and RTMPOutput streams
        properties:
          url:
            type: string
            description: RTMP URL
  Arc:
    type: object
    properties:
      id:
        type: string
        description: Unique ID of the Arc
  Error:
    type: object
    description: Something went wrong. This little guy tells you so.
    properties:
      message:
        type: string
      code:
        type: string


paths:

  ##############
  # Broadcasts #
  ##############

  /broadcasts:
    get:
      summary: Get many broadcasts
      description: TODO - Describe what broadcasts is
      tags: ["broadcasts"]
      operationId: findBroadcasts
      parameters:
        - name: filter
          in: query
          description: Optional JSON string. Return only documents that match.
          required: false
          type: string
      responses:
        200:
          description: An array of broadcasts
          schema:
            type: array
            items:
              $ref: '#/definitions/Broadcast'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a broadcast
      tags: ["broadcasts"]
      operationId: createBroadcasts
      parameters:
        - description: Broadcast to create
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Broadcast"
      responses:
        201:
          description: Creation Sucessful
          schema:
            $ref: "#/definitions/Broadcast"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /broadcasts/{id}:
    get:
      parameters:
        - name: id
          in: path
          type: string
          description: what
          required: true
      summary: Get one broadcast
      description: TODO - Describe what broadcasts is
      tags: ["broadcasts"]
      operationId: findOneBroadcasts
      responses:
        200:
          description: An array of broadcasts
          schema:
            type: array
            items:
              $ref: '#/definitions/Broadcast'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Modify an existing broadcast
      tags: ["broadcasts"]
      operationId: updateBroadcasts
      parameters:
        - description: Broadcast to Modify
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Broadcast"
        - name: id
          in: path
          type: string
          description: what
          required: true
      responses:
        200:
          description: Modification Sucessful
          schema:
            $ref: "#/definitions/Broadcast"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      parameters:
        - name: id
          in: path
          type: string
          description: what
          required: true
      summary: Delete an existing broadcast and everything in it!!!
      tags: ["broadcasts"]
      operationId: deleteBroadcasts
      responses:
        204:
          description: "You did it, it's gone"

  ############
  # vertices #
  ############

  /vertices:
    get:
      summary: Get many vertices
      description: TODO - Describe what a vertex is
      tags: ["vertices"]
      operationId: findVertices
      parameters:
        - name: filter
          in: query
          description: Optional JSON string. Return only documents that match.
          required: false
          type: string
      responses:
        200:
          description: An array of vertices
          schema:
            type: array
            items:
              $ref: '#/definitions/Vertex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a broadcast
      tags: ["vertices"]
      operationId: createVertices
      parameters:
        - description: Broadcast to create
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Vertex"
      responses:
        201:
          description: Creation Sucessful
          schema:
            $ref: "#/definitions/Vertex"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /vertices/{id}:
    get:
      parameters:
        - name: id
          in: path
          type: string
          required: true
      summary: Get one vertex
      tags: ["vertices"]
      operationId: findOneVertices
      description: TODO - Describe what vertices is
      responses:
        200:
          description: An array of vertices
          schema:
            type: array
            items:
              $ref: '#/definitions/Vertex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Modify an existing vertex
      tags: ["vertices"]
      operationId: updateVertices
      parameters:
        - name: id
          in: path
          type: string
          required: true
        - description: Vertex to Modify
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Vertex"
      responses:
        200:
          description: Modification Sucessful
          schema:
            $ref: "#/definitions/Vertex"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      parameters:
        - name: id
          in: path
          type: string
          required: true
      summary: Delete an existing vertex
      tags: ["vertices"]
      operationId: deleteVertices
      responses:
        204:
          description: "You did it, it's gone"

  ########
  # Arcs #
  ########

  /arcs:
    get:
      summary: Get many arcs
      description: TODO - Describe what a vertex is
      tags: ["arcs"]
      operationId: findArcs
      parameters:
        - name: filter
          in: query
          description: Optional JSON string. Return only documents that match.
          required: false
          type: string
      responses:
        200:
          description: An array of arcs
          schema:
            type: array
            items:
              $ref: '#/definitions/Arc'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a broadcast
      tags: ["arcs"]
      operationId: createArcs
      parameters:
        - description: Broadcast to create
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Arc"
      responses:
        201:
          description: Creation Sucessful
          schema:
            $ref: "#/definitions/Arc"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /arcs/{id}:
    get:
      parameters:
        - name: id
          in: path
          type: string
          required: true
      summary: Get one arc
      description: TODO - Describe what arcs is
      tags: ["arcs"]
      operationId: findOneArcs
      responses:
        200:
          description: An array of arcs
          schema:
            type: array
            items:
              $ref: '#/definitions/Arc'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Modify an existing arc
      tags: ["arcs"]
      operationId: updateArcs
      parameters:
        - name: id
          in: path
          type: string
          required: true
        - description: Arc to Modify
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Arc"
      responses:
        200:
          description: Modification Sucessful
          schema:
            $ref: "#/definitions/Arc"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      parameters:
        - name: id
          in: path
          type: string
          required: true
      tags: ["arcs"]
      operationId: deleteArcs
      summary: Delete an existing arc
      responses:
        204:
          description: "You did it, it's gone"
         
