node_modules
npm-debug.log
npm-debug.log*
font.ttf
rethinkdb_data
._*
*-values.yaml
lerna-debug.log
build_chart*
packages/*/*.tgz
packages/*/dist
requirements.lock
/packages/*/charts
values-dev.yaml
.tmp
yarn-error.log
