
@import "../broadcasts/BroadcastGraph";

@mixin diamond($size, $color) {

}

$arcNodeSize: 75px;

.ArcNode {
  composes: GraphNode;
  margin: $arcNodeSize/2 auto $arcNodeSize/2 auto;
  position: relative;
  text-align: center;
  width: $arcNodeSize;
  height: $arcNodeSize;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    content: " ";
    z-index: 1;
    transform: rotate(45deg);
  }
}

.ArcNodeContent {
  position: relative;
  margin: auto;
  z-index: 2;
}

.ArcNodeSelected {
  composes: ArcNode;

  &::before {
    background-color: lightblue;
  }
}
