{
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
