<!DOCTYPE html>
<html>
<head>
  <title>Stream Kitchen</title>
  <meta charset="utf-8">
  <link rel="icon" href="https://s3-us-west-2.amazonaws.com/stream.kitchen/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-with-addons.min.js"></script>
  <base href="{{BASE_URL}}">
  <script>
    window.SK_PARAMS = {
      API_SERVER_URL: "{{API_SERVER_URL}}",
      BASE_URL: "{{BASE_URL}}",
      RTMP_URL_INTERNAL: "{{RTMP_URL_INTERNAL}}",
      RTMP_URL_EXTERNAL: "{{RTMP_URL_EXTERNAL}}"
    };
  </script>
</head>
<body>
  <main></main>
  <script type="text/javascript" src="bundle.js"></script>
  {{#EXTRA_JS}}
    <script type="text/javascript" src="{{EXTRA_JS}}"></script>
  {{/EXTRA_JS}}
</body>
</html>
