# Hi
swagger: '2.0'
info:
  title: Stream Kitchen API
  description: Want to do some stuff what with the streaming video? This is an API for that!
  version: "0.0.0-alpha1"
# the domain of the service
host: api.stream.kitchen
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v0
produces:
  - application/json
consumes:
  - application/json

definitions:
  Broadcast:
    type: object
    properties:
      id:
        type: string
        description: Unique ID of the Broadcast
      title:
        type: string
        description: Name of the Broadcast
  Vertex:
    type: object
    properties:
      id:
        type: string
        description: Unique ID of the Vertex
  Arc:
    type: object
    properties:
      id:
        type: string
        description: Unique ID of the Arc
  Error:
    type: string
    description: Something went wrong. This string is telling you so.


paths:

  ##############
  # Broadcasts #
  ##############

  /broadcasts:
    get:
      summary: Get many broadcasts
      description: TODO - Describe what broadcasts is
      tags: ["broadcasts"]
      operationId: find
      responses:
        200:
          description: An array of broadcasts
          schema:
            type: array
            items:
              $ref: '#/definitions/Broadcast'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a broadcast
      tags: ["broadcasts"]
      operationId: create
      parameters:
        - description: Broadcast to create
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Broadcast"
      responses:
        201:
          description: Creation Sucessful
          schema:
            $ref: "#/definitions/Broadcast"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /broadcasts/{id}:
    parameters:
      - name: id
        in: path
        type: string
        required: true
    get:
      summary: Get one broadcast
      description: TODO - Describe what broadcasts is
      tags: ["broadcasts"]
      operationId: findOne
      responses:
        200:
          description: An array of broadcasts
          schema:
            type: array
            items:
              $ref: '#/definitions/Broadcast'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Modify an existing broadcast
      tags: ["broadcasts"]
      operationId: update
      parameters:
        - description: Broadcast to Modify
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Broadcast"
      responses:
        200:
          description: Modification Sucessful
          schema:
            $ref: "#/definitions/Broadcast"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete an existing broadcast and everything in it!!!
      tags: ["broadcasts"]
      operationId: delete
      responses:
        204:
          description: "You did it, it's gone"

  ############
  # vertices #
  ############

  /vertices:
    get:
      summary: Get many vertices
      description: TODO - Describe what a vertex is
      tags: ["vertices"]
      operationId: find
      responses:
        200:
          description: An array of vertices
          schema:
            type: array
            items:
              $ref: '#/definitions/Vertex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a broadcast
      tags: ["vertices"]
      operationId: create
      parameters:
        - description: Broadcast to create
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Vertex"
      responses:
        201:
          description: Creation Sucessful
          schema:
            $ref: "#/definitions/Vertex"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /vertices/{id}:
    parameters:
      - name: id
        in: path
        type: string
        required: true
    get:
      summary: Get one vertex
      tags: ["vertices"]
      operationId: findOne
      description: TODO - Describe what vertices is
      responses:
        200:
          description: An array of vertices
          schema:
            type: array
            items:
              $ref: '#/definitions/Vertex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Modify an existing vertex
      tags: ["vertices"]
      operationId: update
      parameters:
        - description: Vertex to Modify
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Vertex"
      responses:
        200:
          description: Modification Sucessful
          schema:
            $ref: "#/definitions/Vertex"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete an existing vertex
      tags: ["vertices"]
      operationId: delete
      responses:
        204:
          description: "You did it, it's gone"

  ########
  # Arcs #
  ########

  /arcs:
    get:
      summary: Get many arcs
      description: TODO - Describe what a vertex is
      tags: ["arcs"]
      operationId: find
      responses:
        200:
          description: An array of arcs
          schema:
            type: array
            items:
              $ref: '#/definitions/Arc'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a broadcast
      tags: ["arcs"]
      operationId: create
      parameters:
        - description: Broadcast to create
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Arc"
      responses:
        201:
          description: Creation Sucessful
          schema:
            $ref: "#/definitions/Arc"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /arcs/{id}:
    parameters:
      - name: id
        in: path
        type: string
        required: true
    get:
      summary: Get one arc
      description: TODO - Describe what arcs is
      tags: ["arcs"]
      operationId: findOne
      responses:
        200:
          description: An array of arcs
          schema:
            type: array
            items:
              $ref: '#/definitions/Arc'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Modify an existing arc
      tags: ["arcs"]
      operationId: update
      parameters:
        - description: Arc to Modify
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Arc"
      responses:
        200:
          description: Modification Sucessful
          schema:
            $ref: "#/definitions/Arc"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags: ["arcs"]
      operationId: delete
      summary: Delete an existing arc
      responses:
        204:
          description: "You did it, it's gone"
         
