
/*When we have our own login page, this will be prettier.*/

.auth0-lock-badge-bottom {
  display: none !important;
}

body .auth0-lock.auth0-lock .auth0-lock-header {
  background-color: #333;
}

body .auth0-lock.auth0-lock .auth0-lock-header-bg {
  background: none !important;
}

.auth0-lock-header-bg-blur {
  display: none !important;
}

body .auth0-lock-header-logo {
  height: auto !important;
  margin-top: 0px !important;
  transition: margin-top 250ms ease !important;
}

.auth0-lock-header-logo.centered {
  height: auto !important;
  margin-top: 20px !important;
}

.auth0-lock-back-button {
  left: 50% !important;
  margin-left: -5px !important;
  bottom: 20px !important;
  top: auto !important;
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane {
  background-color: #333 !important;
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane > div:nth-child(3) {
  background-color: white;
}

.auth0-lock-view-content {
  background-color: white !important;
}

body .auth0-lock.auth0-lock {
  font-family: "Open Sans", "Avenir Next", Avenir, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
}
