[Unit]
Description=streamplace https socket

[Socket]
ListenStream=443
FileDescriptorName=https
Service=streamplace.service

[Install]
WantedBy=sockets.target
