
:global {
  html, body, main {
    height: 100%;
  }

  main {
    display: flex;
  }

  a {
    cursor: pointer;
    color: green;
    text-decoration: none;
  }
}

.bigCentered {
  margin: auto;
  font-size: 3em;
}

.sweet-link2 {
  background-color: orange;
}
