[Unit]
Description=streamplace
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/omxplayer https://stream.place/demo/countdown/media_0.m3u8
Restart=always

[Install]
WantedBy=multi-user.target
