
.SceneBox {
  width: 100%;
  padding-bottom: 56.25%;
  background-color: black;
  position: relative;
}

.Region {
  position: absolute;
  display: flex;
  background-color: red;
  width: 10px;
  height: 10px;
  user-select: none;
  -webkit-user-select: none;
}

$color-kindablack: rgba(0, 0, 0, 0.3);
.RegionLabel {
  cursor: default;
  margin: auto;
  font-size: 1.4em;
  color: white;
  text-shadow: -1px 0 $color-kindablack, 0 1px $color-kindablack, 1px 0 $color-kindablack, 0 -1px $color-kindablack;
}
