
@mixin sixteenByNine($width) {
  width: $width;
  padding-bottom: $width * 9 / 16;
}

.SceneBox {
  @include sixteenByNine(60%);
  background-color: black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.Region {
  position: absolute;
  display: flex;
  background-color: red;
  width: 10px;
  height: 10px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.RegionFocus {
  composes: Region;
  cursor: move;
  border: 2px dotted white;
}

$color-kindablack: rgba(0, 0, 0, 0.3);
.RegionLabel {
  cursor: default;
  margin: auto;
  font-size: 1.4em;
  color: white;
  pointer-events: none;
  text-shadow: -1px 0 $color-kindablack, 0 1px $color-kindablack, 1px 0 $color-kindablack, 0 -1px $color-kindablack;
}

.LegendHidden {
  display: none;
}

.Legend {
  display: block;
  padding: 1em 0;
  text-align: center;
}
