
.backLink {

}

.verticalPanels {
  flex-direction: column;
  flex-grow: 1;

  >* {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }
  }
}

.HorizontalPanels {
  flex-grow: 1;

  >* {
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: none;
    }
  }
}

.header {
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.TabContainer {
  align-self: stretch;
  display: flex;

  a {
    padding: 1em;
    display: flex;


    span {
      margin: auto;
    }

    &:last-child {

    }
  }
}

.backButton {
  composes: buttonPrimary from "twixtykit/buttons.scss";
  margin: 0 1em;
}

.newVertexButton {
  position: absolute;
  right: 1em;
  margin-top: 1em;
}

.GraphPanel {
  flex-basis: 0px;
  flex-grow: 1;
  position: relative;
}

.BottomPanel {
  flex-basis: 0px;
  flex-grow: 1;
  position: relative;
  padding: 1em;
  overflow: scroll;
}

.closeBottomPanel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
}

.ToggleEnabledButton {
  margin-bottom: 0;
}

.TabContainerSelected {
  background-color: #eee;
  color: black;

  &:hover {
    color: black;
  }
}
