
.backLink {

}

.verticalPanels {
  flex-direction: column;
  flex-grow: 1;

  >* {
    border-bottom: 1px solid black;

    &:last-child {
      border-bottom: none;
    }
  }
}

.header {
  padding: 1em;
  flex-grow: 0;
  align-items: center;
  justify-content: flex-start;
}

.backButton {
  composes: buttonPrimary from "twixtykit/buttons.scss";
  margin: 0 1em;
}

.newMoteButton {
  composes: buttonPrimary from "twixtykit/buttons.scss";
  margin-left: auto;
}

.GraphPanel {
  flex-basis: 0px;
  flex-grow: 1;
}

.BottomPanel {
  flex-basis: 0px;
  flex-grow: 1;
  position: relative;
  padding: 1em;
}

.closeBottomPanel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
}

