
.BroadcastGraph {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.BroadcastGraphGrouping {

  display: flex;
  align-items: center;
}

.BroadcastGraphColumn {

}

.GraphNode {
  foo: bar;
}

